body {
  margin: 0px;
  font-family: Arial;
  background-image: url(https://raw.githubusercontent.com/darenbooth/9_Star/refs/heads/main/Assets/starbackground.jpg);
}

.header {
  display: flex;
  background-color: #1414DC;
  height: 100px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.logo {
  height: 100px;
}

.title {
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: lime;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: blue;
}

.about {
  display: flexbox;
  position: static;
  margin: 125px auto;
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 75%;
}

h1 {
  padding-top: 25px;
}

.about_text {
  display: flex;
  justify-content: center;
  line-height: 25px;
  margin-left: 10px;
  color: white;
}

.link_container {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: purple;
}

@media(max-width: 700px) {
  .header {
    height: 50px
  }

  .logo {
    height: 50px;
  }

  .title {
    font-size: 20px;
  }

  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 900;
  }

  .about_text {
    font-size: 12px;
    line-height: 15px;
  }

  .about {
    margin: 75px auto;
  }

  .footer {
    height: 50px;
  }

  .link_container {
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}