body {
  margin: 0px;
  font-family: Arial;
  background-color: rgb(200, 200, 200);
}

.header {
  display: flex;
  background-color: #1414DC;
  height: 100px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.logo {
  height: 100px;
}

.title {
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: lime;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: blue;
}

.about {
  display: flexbox;
  position: static;
  margin: 125px auto;
  padding-bottom: 25px;
  background-color: rgba(0, 255, 0, 0.25);
  width: 75%;
}

h1 {
  padding-top: 25px;
}

.about_text {
  display: flex;
  justify-content: center;
  line-height: 25px;
  margin-left: 10px;
  color: black;
}

.link_container {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: purple;
}